<h1>New Article</h1>

<%= link_to 'Liste', articles_path %>


<% if @article.errors.any? %>
        <p><%= pluralize(@article.errors.count, 'Hata') %></p>
        olustu.

        <ul>
                <% @article.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                <% end %>
        </ul>
<% end %>


<%= form_with scope: :article, url: articles_path, local: true do |form| %>

	<p>	
		<%= form.label :titles %>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :text %><br>
		<%= form.text_area :text %>
	</p>
 
	<p>
		<%= form.submit %>
	</p>

<% end %>
